USE [master]
GO
/****** Object:  Database [SmartTrackDB]    Script Date: 23/06/2020 16:23:29 ******/
CREATE DATABASE [SmartTrackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartTrackDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SmartTrackDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SmartTrackDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SmartTrackDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartTrackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartTrackDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/06/2020 16:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Companys]    Script Date: 23/06/2020 16:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companys](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Companys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Incidents]    Script Date: 23/06/2020 16:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidents](
	[ID] [uniqueidentifier] NOT NULL,
	[LocationId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[Base64Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[TrajectId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Incidents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 23/06/2020 16:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [uniqueidentifier] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[LocationTime] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 23/06/2020 16:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Token] [uniqueidentifier] NOT NULL,
	[LastSession] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trajects]    Script Date: 23/06/2020 16:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trajects](
	[Id] [uniqueidentifier] NOT NULL,
	[Distance] [float] NOT NULL,
	[Duration] [float] NOT NULL,
	[IsFinished] [bit] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[LocationInitialId] [uniqueidentifier] NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[LocationFinalId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Trajects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/06/2020 16:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[IdentityNumber] [nvarchar](max) NULL,
	[CompanyId] [uniqueidentifier] NULL,
	[Employee_CompanyId] [uniqueidentifier] NULL,
	[EmployeeStatus] [int] NULL,
	[LocationId] [uniqueidentifier] NULL,
	[Discriminator] [nvarchar](max) NOT NULL DEFAULT (N''),
	[FirebaseDeviceToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200505200823_AddUsersAndTrajects', N'2.1.14-servicing-32113')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200508144251_Sessions', N'2.1.14-servicing-32113')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200509214324_AddNewEntities', N'2.1.14-servicing-32113')
INSERT [dbo].[Companys] ([Id], [Name]) VALUES (N'0db4b75b-df21-4896-8535-0c46b9b8c884', N'preuba2')
INSERT [dbo].[Companys] ([Id], [Name]) VALUES (N'fb522f95-beb9-457c-b082-68d80c8d4eed', N'admin')
INSERT [dbo].[Companys] ([Id], [Name]) VALUES (N'8554ed67-4db6-42c0-8eec-a0f187c92a03', N'taxi')
INSERT [dbo].[Incidents] ([ID], [LocationId], [CreationTime], [Base64Image], [Description], [TrajectId]) VALUES (N'ac03266f-2806-4c76-5d3e-08d8162179f1', N'de67b95b-72f5-435f-8d74-ec30bb8bf602', CAST(N'2020-06-20 17:30:43.6474766' AS DateTime2), N'', N'No existe la direccion', N'bf023bcc-7eb4-4a0b-ac64-08d816215b5a')
INSERT [dbo].[Locations] ([Id], [Latitude], [Longitude], [LocationTime], [Address]) VALUES (N'88f81ffa-9eb5-44e5-b43f-018d15ad07f0', -34.903648333333329, -56.190448333333343, CAST(N'2020-06-23 00:35:00.2782021' AS DateTime2), NULL)
INSERT [dbo].[Locations] ([Id], [Latitude], [Longitude], [LocationTime], [Address]) VALUES (N'ab26b491-84f3-4d77-9d1a-02860dd46052', -34.875, -56.200098333333337, CAST(N'2020-06-21 16:17:24.9370672' AS DateTime2), NULL)
INSERT [dbo].[Locations] ([Id], [Latitude], [Longitude], [LocationTime], [Address]) VALUES (N'3aea060d-6fed-4f65-b4d0-064de25fd2e1', -34.8757, -56.199198333333335, CAST(N'0001-01-01 00:00:00.0000000' AS DateTime2), NULL)
GO
INSERT [dbo].[Sessions] ([Id], [UserId], [Token], [LastSession]) VALUES (N'e22a99e0-0a1d-48b3-898b-1dcafec533f7', N'39cde92e-a547-4efe-a19e-15a99e3275af', N'45599347-dddb-49dd-901b-c65ea4d84d97', CAST(N'2020-06-09 22:42:04.7452877' AS DateTime2))
INSERT [dbo].[Sessions] ([Id], [UserId], [Token], [LastSession]) VALUES (N'2a334304-db1e-4bf5-ae0b-222ba5a248e6', N'1bf78f09-4a55-4af0-865e-08d817229698', N'18486257-b3b2-404f-adff-dbecc9e78a09', CAST(N'2020-06-23 00:15:12.8589830' AS DateTime2))
INSERT [dbo].[Sessions] ([Id], [UserId], [Token], [LastSession]) VALUES (N'3f8e456d-9d44-4d40-bd9c-391a68378d83', N'ea28c97b-e6b8-4396-8662-08d817229698', N'b0d27fb7-7e9a-445a-b686-e2ed024a8b73', CAST(N'2020-06-23 00:59:20.7470516' AS DateTime2))
INSERT [dbo].[Trajects] ([Id], [Distance], [Duration], [IsFinished], [StartDate], [LocationInitialId], [EmployeeId], [LocationFinalId]) VALUES (N'ca00dd04-215a-43b7-9852-08581ff37017', 0, 0, 0, CAST(N'2020-06-19 18:29:54.4757672' AS DateTime2), N'2925f267-9d94-4e93-bed4-ff36b5f00bbf', N'cd60cf2c-d7bc-404b-8e6c-08d80fdeb189', NULL)
INSERT [dbo].[Trajects] ([Id], [Distance], [Duration], [IsFinished], [StartDate], [LocationInitialId], [EmployeeId], [LocationFinalId]) VALUES (N'8c05df69-4668-4a84-edc2-08d816114ba3', 0, 0, 0, CAST(N'2020-06-21 15:31:21.2107226' AS DateTime2), N'3705b982-d77d-4c10-90db-e87e5c43c06b', N'513952c1-059a-4acb-5e0f-08d80fe317eb', NULL)
INSERT [dbo].[Trajects] ([Id], [Distance], [Duration], [IsFinished], [StartDate], [LocationInitialId], [EmployeeId], [LocationFinalId]) VALUES (N'd8206a02-8f17-4e07-2e0c-08d816117e07', 0, 0, 0, CAST(N'2020-06-21 15:32:19.1754719' AS DateTime2), N'ec23baf0-0985-4655-bd44-6253dfbc2bf6', N'513952c1-059a-4acb-5e0f-08d80fe317eb', NULL)
GO
INSERT [dbo].[Users] ([Id], [Name], [LastName], [UserName], [Password], [IdentityNumber], [CompanyId], [Employee_CompanyId], [EmployeeStatus], [LocationId], [Discriminator], [FirebaseDeviceToken]) VALUES (N'0542aa50-d274-43cf-65e9-08d80cdd454a', N'Pedro', N'Perez', N'B', N'B', N'B', NULL, N'42eb5b20-3ab7-4146-a8b3-cba746519728', 0, N'276df759-527e-4f27-938a-cd334492e024', N'Employee', NULL)
INSERT [dbo].[Users] ([Id], [Name], [LastName], [UserName], [Password], [IdentityNumber], [CompanyId], [Employee_CompanyId], [EmployeeStatus], [LocationId], [Discriminator], [FirebaseDeviceToken]) VALUES (N'cd60cf2c-d7bc-404b-8e6c-08d80fdeb189', N'Virginia', N'Real', N'C', N'C', N'C', NULL, N'42eb5b20-3ab7-4146-a8b3-cba746519728', 0, N'cffdbb21-57cc-4ee1-abe6-5f563f3292a8', N'Employee', NULL)
INSERT [dbo].[Users] ([Id], [Name], [LastName], [UserName], [Password], [IdentityNumber], [CompanyId], [Employee_CompanyId], [EmployeeStatus], [LocationId], [Discriminator], [FirebaseDeviceToken]) VALUES (N'58d4ba6c-ddf8-4e4b-8e6d-08d80fdeb189', N'Raul', N'Rodriguez', N'D', N'D', N'D', NULL, N'42eb5b20-3ab7-4146-a8b3-cba746519728', 0, N'10e37bdc-54c5-41d5-8ad2-24e50e858f31', N'Employee', NULL)
/****** Object:  Index [IX_Incidents_LocationId]    Script Date: 23/06/2020 16:23:29 ******/
CREATE NONCLUSTERED INDEX [IX_Incidents_LocationId] ON [dbo].[Incidents]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Incidents_TrajectId]    Script Date: 23/06/2020 16:23:29 ******/
CREATE NONCLUSTERED INDEX [IX_Incidents_TrajectId] ON [dbo].[Incidents]
(
	[TrajectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trajects_EmployeeId]    Script Date: 23/06/2020 16:23:29 ******/
CREATE NONCLUSTERED INDEX [IX_Trajects_EmployeeId] ON [dbo].[Trajects]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trajects_LocationFinalId]    Script Date: 23/06/2020 16:23:29 ******/
CREATE NONCLUSTERED INDEX [IX_Trajects_LocationFinalId] ON [dbo].[Trajects]
(
	[LocationFinalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trajects_LocationInitialId]    Script Date: 23/06/2020 16:23:29 ******/
CREATE NONCLUSTERED INDEX [IX_Trajects_LocationInitialId] ON [dbo].[Trajects]
(
	[LocationInitialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_CompanyId]    Script Date: 23/06/2020 16:23:29 ******/
CREATE NONCLUSTERED INDEX [IX_Users_CompanyId] ON [dbo].[Users]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Employee_CompanyId]    Script Date: 23/06/2020 16:23:29 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Employee_CompanyId] ON [dbo].[Users]
(
	[Employee_CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_LocationId]    Script Date: 23/06/2020 16:23:29 ******/
CREATE NONCLUSTERED INDEX [IX_Users_LocationId] ON [dbo].[Users]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [FK_Incidents_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Locations_LocationId]
GO
ALTER TABLE [dbo].[Incidents]  WITH CHECK ADD  CONSTRAINT [FK_Incidents_Trajects_TrajectId] FOREIGN KEY([TrajectId])
REFERENCES [dbo].[Trajects] ([Id])
GO
ALTER TABLE [dbo].[Incidents] CHECK CONSTRAINT [FK_Incidents_Trajects_TrajectId]
GO
ALTER TABLE [dbo].[Trajects]  WITH CHECK ADD  CONSTRAINT [FK_Trajects_Locations_LocationFinalId] FOREIGN KEY([LocationFinalId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Trajects] CHECK CONSTRAINT [FK_Trajects_Locations_LocationFinalId]
GO
ALTER TABLE [dbo].[Trajects]  WITH CHECK ADD  CONSTRAINT [FK_Trajects_Locations_LocationInitialId] FOREIGN KEY([LocationInitialId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Trajects] CHECK CONSTRAINT [FK_Trajects_Locations_LocationInitialId]
GO
ALTER TABLE [dbo].[Trajects]  WITH CHECK ADD  CONSTRAINT [FK_Trajects_Users_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Trajects] CHECK CONSTRAINT [FK_Trajects_Users_EmployeeId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Companys_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companys] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Companys_CompanyId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Companys_Employee_CompanyId] FOREIGN KEY([Employee_CompanyId])
REFERENCES [dbo].[Companys] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Companys_Employee_CompanyId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Locations_LocationId]
GO
USE [master]
GO
